
/* Скидання по тегам*/
body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;

}

body:has(.modal-overlay.is-open) {
    overflow-y: hidden;
}
body:has(.mobile-menu.is-open) {
    overflow-y: hidden;
}

.hide{
    display: none;
}



/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
input {
    font-family: inherit;
}

.section {
    padding-bottom: 48px;
    padding-top: 48px;
}

@media (min-width: 1158px) {
    .section {
        padding-bottom: 60px;
        padding-top: 60px;
    }

}

.container {
    /* mobile size */

    min-width: 320px;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;

    /* max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto; */
}

@media screen and (min-width:768px) {

    /* tablet size */
    .container {
        max-width: 768px;

    }
}

@media screen and (min-width:1158px) {

    /* Desktop size */
    .container {
        max-width: 1158px;

    }
}
/* Секція Навігації*/
.header{
    border-bottom: 1px solid #e7e9fc;
        max-width: 1440px;
        margin: auto;
        box-shadow: 0 1px 6px 0  rgba(46, 47, 66, 0.08),
         0 1px 1px 0  rgba(46, 47, 66, 0.16), 
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 24px; */
    /* padding-top: 24px; */
}
.nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
@media(min-width:768px) and (max-width:1157px){
    .nav {
        margin-right: 120px;
    }
}
.logo{
    display: inline-block;
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    
}
   
@media(max-width:767px){
    .nav .logo {
        padding-top: 16px;
        padding-bottom: 16px;
    }}

.footer .logo{
    margin-bottom: 16px;
}
@media(min-width:768px){
    .footer .logo {
        margin-right: auto;

        }
}
@media(max-width:767px) {
    .logo-header {
         margin-right: auto;
    }
}
@media(min-width:768px){
.logo-header {
        margin-right: 76px;
    }
}

.logo-header-text{
color: #2E2F42;
}


.nav-list{
    display: none;
    gap: 40px;
}
@media(min-width:768px){
.nav-list {
        display: flex;

    }
}
.nav-list-item{
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   
}


.nav-list-item:hover,
.nav-list-item:focus{
    color:#404BBF;
}
.nav-list-item.current{
    color: #404BBF;

}
.nav-list-item.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;

}


.adress-header{
    
    font-style: normal;
}
.contacts{
display: none;

}
@media(min-width: 768px)and (max-width: 1157px)
{
    .contacts {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
}
@media(min-width: 1158px){
    .contacts {
        display: flex;
         gap: 40px;
    }
}

.contacts-item{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.contacts-item:hover,
 .contacts-item:focus {
    color: #404BBF;
}
@media(min-width: 768px) and (max-width: 1157px){
    .contacts-item {
        font-size: 12px;
    }
}
/* Секція Лого(Hero)*/
.hero {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    padding: 72px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2E2F42;

   background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
        url(../images/hero/Hero_sm.jpg);
   
}
@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/Hero_sm@2x.jpg);

    }
}
@media(min-width:768px){
    .hero {
         padding: 112px 0;

        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero/Hero_md.jpg);
              
    }
         @media (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
             .hero {
                 background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                         rgba(46, 47, 66, 0.7)),
                     url(../images/hero/Hero_md@2x.jpg);
    
             }
         }

}
@media(min-width:1158px) {
    .hero {
            padding: 188px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/hero/Hero_lr.jpg);
            }
                                @media (min-resolution: 192dpi),
                                (min-resolution: 2dppx) {
                                    .hero {
                                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                                rgba(46, 47, 66, 0.7)),
                                            url(../images/hero/Hero_lr@2x.jpg);
                
                                    }
                                }
            
    }

.hero-wrap{
    text-align: center;

   
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 216px;
    margin-bottom: 72px;
    margin-left:auto;
    margin-right: auto;

}


@media(min-width:768px){
    .hero-title{
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}
@media(min-width:1158px) {
    .hero-title{
        margin-bottom: 48px;
    }
}

.hero-btn{
    display: block;
    cursor: pointer;
    background: #4D5AE5;
    font-family: "Roboto",  sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border:none;
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        margin: auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.hero-btn:hover, 
.hero-btn:focus{
    background-color: #404BBF;
}

/* Секція Проекти*/

    
.feature-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;

}
@media (max-width:757px) {
    .feature-list {
        flex-direction: column;
      
    }
}
.feature-list-item{
    max-width: 288px;
  
}
@media(min-width:768px) {
    .feature-list-item {
        max-width: calc((100% - 24px) / 2);
        /* max-width: 356px; */
    }
}
@media (min-width:1158px){
    .feature-list-item{
        max-width: calc((100% - 72px) / 4);
        /* max-width: 264px; */
    }
}
.feature-list-logo{
display: none;
justify-content: center;
align-items: center;
border: 1px solid #8e8f99;
border-radius: 4px;
background: #f4f4fd;
height: 112px;

padding-bottom: 24px;
padding-top: 24px;
margin-bottom: 8px;
}

@media(min-width: 1158px){
    .feature-list-logo{
        display: flex;
    }
}
.feature-list-icon{

}
.feature-list-title{

    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    }

    @media(max-width: 757px) {
            .feature-list-title {
                text-align: center;
            }
        }
      @media(min-width: 1158px) {
           .feature-list-title {
                font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
            }
                  }
.feature-list-text{
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

@media(min-width: 1158px){
.feature-list-text{
    font-weight: 400;
} 
}





/*Секція Команда*/
.team{
    background-color:#F4F4FD ;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;

}

.team-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;

}


@media (max-width:757px) {
    .team-list {
        flex-direction: column;

    }
}
@media (min-width:758px) {
    .team-list {
        row-gap: 64px;

    }
}
@media (min-width:1158px) {
    .team-list {
        flex-wrap: nowrap;

    }
}

.team-card{
        background: #FFFFFF;
        border-radius: 0 0 4px 4px;
        /* padding: 0px 0px 32px; */
        width: 264px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-card-img{
    /* margin-bottom: 32px; */
}
.team-card-wraper{
    padding: 32px 0;

}
.team-card-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 8px;
}

.team-card-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-bottom: 8px;
}
.social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-left: 16px;
    padding-right: 16px;
    
}
.social-list-item{
    /* display: flex;
    align-items: center;
        justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%; */
   
}

.social-list-link{
    display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
         transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: #404BBF;
}

.social-icon{
fill: #f4f4fd;
}

/*Секція портфоліо*/
.portfolio-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

        row-gap: 48px;
        column-gap: 24px;
        padding: 0;
        margin: 0;
}

@media (min-width:768px) and (max-width:1157px) {
.portfolio-list {
        row-gap: 72px;
    }
}

.portfolio-card{
    max-width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width:768px) {
    .portfolio-card {
        /* max-width: 356px; */
        max-width: calc((100% - 24px) / 2);
    }
}

@media (min-width:1158px) {
    .portfolio-card {
        /* max-width: 360px; */
        max-width: calc((100% - 48px) / 3);
    }
}
.portfolio-card:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card:hover .overlay{
        transform: translateY(0);
}
.portfolio-img-wraper{
    position: relative;
        overflow: hidden;
}
.overlay{
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        transform: translatey(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #f4f4fd;
        padding: 40px 32px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.portfolio-card-wraper{
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;

    
}

.portfolio-card-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
}
.portfolio-card-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/* футер */
.footer{
    background-color: #2E2F42;
    padding: 96px 0;
   
}

@media (min-width:1158px) {
    .footer {
        padding: 100px 0;
    }
}
.footer>.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    row-gap: 72px;
    max-width: 288px;
}
@media (min-width:768px) {
    .footer>.container{
        max-width: 570px;
        flex-direction: row;
        justify-content: flex-start;
    }
}
@media (min-width:1158px) {
    .footer>.container {
        max-width: 1158px;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}


.footer-main-wraper{
    display: flex;
}

.footer-logo-wraper{
   
display: flex;

flex-direction: column;
align-items: center;
   
}
@media (min-width:768px) {
    .footer-logo-wraper{
       width: 264px;
       align-items: baseline;
    }
}
@media (min-width:1158px) {
    .footer-logo-wraper {
        margin-right: 120px;
    }
}


.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
    margin-bottom: 16px;
}


.footer-text{
    font-weight: 400;
    font-size: 16px;
     line-height: 1.5;
    letter-spacing: 0.02em;
    color:#F4F4FD;
    width: 264px;
}



.footer-social-wraper {

    display: flex;
        flex-direction: column;
        align-items: center;

}
@media (min-width:768px) {
    .footer-social-wraper {
        align-items: baseline;
    }
}
@media (min-width:1158px) {
    .footer-social-wraper {
       
        margin-right: 80px;
    }
}


.footer-social-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.footer-social-list{
    display: flex;
        align-items: center;
        /* justify-content: center; */
        gap: 16px;
}

.footer-social-item{
   
} 

.footer-social-link{
    display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        fill: #f4f4fd;
        background-color: #4D5AE5;
        border-radius: 50%;
         transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}
.footer-subscribe {
display: flex;
flex-direction: column;
align-items: center;

}

@media (min-width:768px) {
    .footer-subscribe {
        align-items: baseline;

    }
}

.subscribe-caption {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        padding: 0;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
@media (min-width:768px) {
    .subscribe-form {
        flex-direction: row;
    }
}

.subscribe-label {
   
}

.subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 16px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: inherit;

    font-size: 12px;
        line-height: 200%;
        letter-spacing: 0.04em;
        color: #fff;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width:768px) {
    .subscribe-input {
        width: 264px;
    }
}
.subscribe-input:hover,
.subscribe-input:focus{
    border-color: #31D0AA;
    };



.btn-footer{
    
    /* display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        padding: 8px 24px;
        background: #4d5ae5;
        min-width: 165px;
        height: 40px;
        border: none;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
    
        transition: background-color 250ms cubic-bezier
         (0.4, 0, 0.2, 1); */
}
.subscribe-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    background: #4d5ae5;
    max-width: 165px;
    cursor: pointer;
    color: #FFFFFF;

    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;

    transition: background-color 250ms cubic-bezier
    (0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #31D0AA;
}

.subscribe-btn-img {
    fill: #fff;
    margin-left: 16px;

}


/* Modal */
.modal-overlay {
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    
  
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    height: 623px;
 
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 72px 16px 16px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12),
        0 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media(min-width:768px){
    .modal{
        width: 408px;
         height: 584px;
    }
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn-svg {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-svg,
.modal-close-btn:focus .modal-close-btn-svg {
    fill: #fff;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-caption {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #2e2f42;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#icon-Vector {
    width: 12px;
    height: 12px;
}

.modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-field-textarea {
    margin-bottom: 16px;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.modal-checkbox-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #8e8f99;
    line-height: 1.17;
    letter-spacing: 0.01em;
    gap: 8px;
}

@media(min-width:768px){
    .modal-checkbox-label {
            letter-spacing: 0.04em;
        }
}

.modal-checkbox-span {
    fill: transparent;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked+.modal-checkbox-label .modal-checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-link {
    color: #4d5ae5;
}

.modal-send-btn {
    min-width: 169px;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    background-color: #4d5ae5;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
    background-color: #404bbf;
}

/* Modal-mobile кнопка відкриття*/

.mobile-menu-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;


}
@media(min-width:768px) {
    .mobile-menu-btn {
        display: none;
    }

}
.mobile-menu-icon {
    fill: #2e2f42;
}
/* Modal-mobile */

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#fff ;
    padding: 72px 16px 40px 16px;
    opacity: 0;
    pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media(min-width:767px){
    .mobile-menu {
       display: none;
    }
}


.mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
}

.mobile-menu-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
     align-items: center;
    padding: 0;
    border: solid #e7e9fc 1px;
        border-radius: 100%;
        background-color: transparent;
}

.mobile-menu-btn-close:hover{
    background-color: #c7c8d0;
}
.mobile-menu-btn-icon {



}
.mobile-menu-btn-icon:hover {
    fill: #404bbf;
}

.mobile-menu-list {
    margin-bottom: auto;
}

.mobile-menu-item {}
.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-menu-item .current{
    color: #404BBF;
}

.mobile-menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.mobile-menu-contacts {
    margin-bottom: 48px;
}


.mobile-menu-contacts-item:not(:last-child) {
margin-bottom: 24px;
}
.mobile-menu-contacts-item .current {
    color: #4d5ae5;
}

.mobile-menu-contacts-link {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #434455;
}
.mobile-menu-contacts-item .current {
    color: #4d5ae5;
}