
/* Скидання по тегам*/
body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;

}

body:has(.modal-overlay.is-open) {
    overflow-y: hidden;
}
body:has(.mobile-menu.is-open) {
    overflow-y: hidden;
}

.hide{
    display: none;
}



/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
input {
    font-family: inherit;
}

.section {
    padding-bottom: 48px;
    padding-top: 48px;
}

@media (min-width: 1158px) {
    .section {
        padding-bottom: 60px;
        padding-top: 60px;
    }

}

.container {
    /* mobile size */

    min-width: 320px;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;

    /* max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto; */
}

@media screen and (min-width:768px) {

    /* tablet size */
    .container {
        max-width: 768px;

    }
}

@media screen and (min-width:1158px) {

    /* Desktop size */
    .container {
        max-width: 1158px;

    }
}


/* footer */